$color1: #001529;
$color2: #001529;
$border-width: 1px;
$basic-spinner-dimensions: 75px;
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 1.5;
$small-spinner-dimensions: $main-spinner-dimensions * 0.8;
$transparent-color: #ccc;

.diamond-loader {
	position: relative;
	width: $basic-spinner-dimensions;
	height: $basic-spinner-dimensions;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		margin-top: 6px;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		border-width: 4px;
		border-style: solid;
		border-radius: 50%;
		border-color: red;
	}

	&:before {
		width: $main-spinner-dimensions;
		height: $main-spinner-dimensions;
		border-bottom-color: $color2;
		border-right-color: $color2;
		border-top-color: transparent;
		border-left-color: transparent;
		top: 0;
		left: 0;
		animation: rotate-animation 1s linear 0s infinite;
	}

	&:after {
		width: $small-spinner-dimensions;
		height: $small-spinner-dimensions;
		border-bottom-color: $color1;
		border-right-color: $color1;
		border-top-color: transparent;
		border-left-color: transparent;
		top: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
		left: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
		animation: anti-rotate-animation 0.85s linear 0s infinite;
	}

	&.transparent {
		&:before,
		&:after {
			border-bottom-color: $transparent-color;
			border-right-color: $transparent-color;
			border-top-color: transparent;
			border-left-color: transparent;
		}
	}
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes anti-rotate-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}
