$primary-color: #3172be;
$secondary-color: #18ba62;
$primary-light-color: #f16a702b;
$background-color: #f0f2f5;
$font-color: #333333;
$error-color: #d53559;
$warning-color: #f7da2c;
$gray-color: #a7a7a7;
$orange: #f5a623;
$white: #fff;
$black: #000;
$light-black: #727084;
$red: #f16a70;
$cyan: #1bc0c8;
$dark-cyan: #009696;
$dark-blue: #007cb2;
$dark-red: #d53559;
$yellow: #f8e71c;
$light-blue: #f8ffff;
$border-light-blue: #a4e5f7;
$text-light-blue: #528c9f;
$border-color: #dbe0e4;

$padding-common: 1.5em;
$padding-tab: 0 1em 1em 1em;
$padding-px: 16px;
$padding-big: 24px;

$form-big-height: 40px;

$font-family: 'IBM Plex Sans', sans-serif;
$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
